.headerList-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.625rem;
  height: 100%;
  width: 100%;
  &:hover {
    background-color: #ffffff17;
  }

  .headerList-list {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    .headerList-item {
      color: #71767b;
      &.Active {
        color: #e7e9ea;
        font-weight: 600;
      }
    }
  }

  .headerList-border {
    margin-top: 16px;
    position: relative;
    &.Active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(29, 155, 240);
        height: 4px;
        border-radius: 10px;
      }
    }
  }
}
