.loginHeader {
  font-size: 32px;
  font-weight: 700;
}

.loginHeaderContainer {
  margin-bottom: 33px;
}

.modalSocialMediaButtonContainer {
  margin-bottom: 25px;
}

.loginActionContainer {
  margin-top: 30px;
  .loginActionButton {
    height: 36px;
    margin: 20px 0;
  }
}

.loginSignupContainer {
  margin-top: 53px;
  .loginSignupText {
    color: rgb(99, 99, 99);
  }
  .loginSignupLink {
    margin-left: 2px;
    color: #1d9bf0;
  }
}
