//Flexbox
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

// Base
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.action-button {
  cursor: pointer;
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
}
