@import '../components/ModalBodyLogin/styles.scss';
@import '../components/LineSeparator/styles.scss';

.loginScreen {
  width: 100vw;
  background-color: #242d35;
  height: 100vh;
  display: flex;
  align-items: center;
}
